# Copy to .env and adjust as needed
DJANGO_SECRET_KEY=DR-1a5HVWOL3PBkMEYqZrjocNi26x9DUek-fGOZnaIEMZzamXQD_DgouK4zz4RHk
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:5173
POSTGRES_DB=hris
POSTGRES_USER=hris
POSTGRES_PASSWORD=hris

# Optional: set a default superuser created at first boot (dev only)
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin12345
DJANGO_SUPERUSER_FIRST_NAME=System
DJANGO_SUPERUSER_LAST_NAME=Admin

#email
EMAIL_HOST=smtp.yourdomain.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_smtp_username
EMAIL_HOST_PASSWORD=your_smtp_password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=no-reply@yourdomain.com

FRONTEND_BASE_URL=https://your-frontend-domain.com
INVITE_ACCEPT_PATH=/accept-invite
INVITE_EXPIRE_DAYS=7
